# Rust build artifacts
/assignment1/target/
**/target/

# Cargo package manager lock files
**/Cargo.lock

# If you are building docs
**/doc/

# Ignore debug files
*.rmeta
*.dSYM/
*.dylib
*.so
*.exe

# Ignore backup files
*~
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore editor and IDE folders
.vscode/
.idea/
*.iml

# Logs
*.log

# Others
*.tmpcapstone_assignment/google-chrome-stable_current_amd64.deb
